<apn carrier="A0M USA TMobile"
     mcc="310"
          mnc="260"
               apn="a0m.tmo.lte"
                    port="258"
                         proxy="192.168.1.1"
                              protocol="IPV4V6"
                                   roaming_protocol="IPV4V6"
                                        type="default,mms,supl,hipri"
                                             bearer_bitmask="LTE|NR"
                                                  carrier_enabled="true" />

                                                  <apn carrier="A0M USA Verizon"
                                                       mcc="310"
                                                            mnc="004"
                                                                 apn="a0m.vzw.lte"
                                                                      port="258"
                                                                           proxy="192.168.1.1"
                                                                                protocol="IPV4V6"
                                                                                     roaming_protocol="IPV4V6"
                                                                                          type="default,mms,supl,hipri"
                                                                                               bearer_bitmask="LTE|NR"
                                                                                                    carrier_enabled="true" />

                                                                                                    <apn carrier="A0M DK TDC"
                                                                                                         mcc="238"
                                                                                                              mnc="01"
                                                                                                                   apn="a0m.tdc.eu"
                                                                                                                        port="258"
                                                                                                                             proxy="192.168.238.1"
                                                                                                                                  protocol="IPV4V6"
                                                                                                                                       roaming_protocol="IPV4V6"
                                                                                                                                            type="default,mms,supl,hipri"
                                                                                                                                                 bearer_bitmask="LTE|NR"
                                                                                                                                                      carrier_enabled="true" />

                                                                                                                                                      <apn carrier="A0M DK Telia"
                                                                                                                                                           mcc="238"
                                                                                                                                                                mnc="20"
                                                                                                                                                                     apn="a0m.telia.eu"
                                                                                                                                                                          port="258"
                                                                                                                                                                               proxy="192.168.238.1"
                                                                                                                                                                                    protocol="IPV4V6"
                                                                                                                                                                                         roaming_protocol="IPV4V6"
                                                                                                                                                                                              type="default,mms,supl,hipri"
                                                                                                                                                                                                   bearer_bitmask="LTE|NR"
                                                                                                                                                                                                        carrier_enabled="true" />

                                                                                                                                                                                                        <apn carrier="A0M DK Telenor"
                                                                                                                                                                                                             mcc="238"
                                                                                                                                                                                                                  mnc="02"
                                                                                                                                                                                                                       apn="a0m.telenor.eu"
                                                                                                                                                                                                                            port="258"
                                                                                                                                                                                                                                 proxy="192.168.238.1"
                                                                                                                                                                                                                                      protocol="IPV4V6"
                                                                                                                                                                                                                                           roaming_protocol="IPV4V6"
                                                                                                                                                                                                                                                type="default,mms,supl,hipri"
                                                                                                                                                                                                                                                     bearer_bitmask="LTE|NR"
                                                                                                                                                                                                                                                          carrier_enabled="true" />

                                                                                                                                                                                                                                                          <apn carrier="A0M SE Faroe"
                                                                                                                                                                                                                                                               mcc="245"
                                                                                                                                                                                                                                                                    mnc="01"
                                                                                                                                                                                                                                                                         apn="a0m.faroe.eu"
                                                                                                                                                                                                                                                                              port="258"
                                                                                                                                                                                                                                                                                   proxy="192.168.245.1"
                                                                                                                                                                                                                                                                                        protocol="IPV4V6"
                                                                                                                                                                                                                                                                                             roaming_protocol="IPV4V6"
                                                                                                                                                                                                                                                                                                  type="default,mms,supl,hipri"
                                                                                                                                                                                                                                                                                                       bearer_bitmask="LTE|NR"
                                                                                                                                                                                                                                                                                                            carrier_enabled="true" />